In [27]:
import pandas as pd

# Load the dataset
file_path = 'data/US_Accidents_March23.csv'
data = pd.read_csv(file_path)

# Display the first few rows and get basic information about the dataset
data.head(), data.info(), data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 46 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   Severity               int64
 3   Start_Time             object
 4   End_Time               object
 5   Start_Lat              float64
 6   Start_Lng              float64
 7   End_Lat                float64
 8   End_Lng                float64
 9   Distance(mi)           float64
 10  Description            object
 11  Street                 object
 12  City                   object
 13  County                 object
 14  State                  object
 15  Zipcode                object
 16  Country                object
 17  Timezone               object
 18  Airport_Code           object
 19  Weather_Timestamp      object
 20  Temperature(F)         float64
 21  Wind_Chill(F)          float64
 22  Humidity(%)            float64
 23  Pressure(in)           float64
 24  Visibility(mi)         float64
 25  Wind_Direction         object
 26  Wind_Speed(mph)        float64
 27  Precipitation(in)      float64
 28  Weather_Condition      object
 29  Amenity                bool
 30  Bump                   bool
 31  Crossing               bool
 32  Give_Way               bool
 33  Junction               bool
 34  No_Exit                bool
 35  Railway                bool
 36  Roundabout             bool
 37  Station                bool
 38  Stop                   bool
 39  Traffic_Calming        bool
 40  Traffic_Signal         bool
 41  Turning_Loop           bool
 42  Sunrise_Sunset         object
 43  Civil_Twilight         object
 44  Nautical_Twilight      object
 45  Astronomical_Twilight  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 2.0+ GB

(    ID   Source  Severity           Start_Time             End_Time  \
 0  A-1  Source2         3  2016-02-08 05:46:00  2016-02-08 11:00:00
 1  A-2  Source2         2  2016-02-08 06:07:59  2016-02-08 06:37:59
 2  A-3  Source2         2  2016-02-08 06:49:27  2016-02-08 07:19:27
 3  A-4  Source2         3  2016-02-08 07:23:34  2016-02-08 07:53:34
 4  A-5  Source2         2  2016-02-08 07:39:07  2016-02-08 08:09:07

    Start_Lat  Start_Lng  End_Lat  End_Lng  Distance(mi)  ... Roundabout  \
 0  39.865147 -84.058723      NaN      NaN          0.01  ...      False
 1  39.928059 -82.831184      NaN      NaN          0.01  ...      False
 2  39.063148 -84.032608      NaN      NaN          0.01  ...      False
 3  39.747753 -84.205582      NaN      NaN          0.01  ...      False
 4  39.627781 -84.188354      NaN      NaN          0.01  ...      False

   Station   Stop Traffic_Calming Traffic_Signal Turning_Loop Sunrise_Sunset  \
 0   False  False           False          False        False          Night
 1   False  False           False          False        False          Night
 2   False  False           False           True        False          Night
 3   False  False           False          False        False          Night
 4   False  False           False           True        False            Day

   Civil_Twilight Nautical_Twilight Astronomical_Twilight
 0          Night             Night                 Night
 1          Night             Night                   Day
 2          Night               Day                   Day
 3            Day               Day                   Day
 4            Day               Day                   Day

 [5 rows x 46 columns],
 None,
            Severity     Start_Lat     Start_Lng       End_Lat       End_Lng  \
 count  7.728394e+06  7.728394e+06  7.728394e+06  4.325632e+06  4.325632e+06
 mean   2.212384e+00  3.620119e+01 -9.470255e+01  3.626183e+01 -9.572557e+01
 std    4.875313e-01  5.076079e+00  1.739176e+01  5.272905e+00  1.810793e+01
 min    1.000000e+00  2.455480e+01 -1.246238e+02  2.456601e+01 -1.245457e+02
 25%    2.000000e+00  3.339963e+01 -1.172194e+02  3.346207e+01 -1.177543e+02
 50%    2.000000e+00  3.582397e+01 -8.776662e+01  3.618349e+01 -8.802789e+01
 75%    2.000000e+00  4.008496e+01 -8.035368e+01  4.017892e+01 -8.024709e+01
 max    4.000000e+00  4.900220e+01 -6.711317e+01  4.907500e+01 -6.710924e+01

        Distance(mi)  Temperature(F)  Wind_Chill(F)   Humidity(%)  \
 count  7.728394e+06    7.564541e+06   5.729375e+06  7.554250e+06
 mean   5.618423e-01    6.166329e+01   5.825105e+01  6.483104e+01
 std    1.776811e+00    1.901365e+01   2.238983e+01  2.282097e+01
 min    0.000000e+00   -8.900000e+01  -8.900000e+01  1.000000e+00
 25%    0.000000e+00    4.900000e+01   4.300000e+01  4.800000e+01
 50%    3.000000e-02    6.400000e+01   6.200000e+01  6.700000e+01
 75%    4.640000e-01    7.600000e+01   7.500000e+01  8.400000e+01
 max    4.417500e+02    2.070000e+02   2.070000e+02  1.000000e+02

        Pressure(in)  Visibility(mi)  Wind_Speed(mph)  Precipitation(in)
 count  7.587715e+06    7.551296e+06     7.157161e+06       5.524808e+06
 mean   2.953899e+01    9.090376e+00     7.685490e+00       8.407210e-03
 std    1.006190e+00    2.688316e+00     5.424983e+00       1.102246e-01
 min    0.000000e+00    0.000000e+00     0.000000e+00       0.000000e+00
 25%    2.937000e+01    1.000000e+01     4.600000e+00       0.000000e+00
 50%    2.986000e+01    1.000000e+01     7.000000e+00       0.000000e+00
 75%    3.003000e+01    1.000000e+01     1.040000e+01       0.000000e+00
 max    5.863000e+01    1.400000e+02     1.087000e+03       3.647000e+01  )

In [28]:
data

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.010,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.010,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.010,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.010,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.010,...,False,False,False,False,True,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728389,A-7777757,Source1,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,0.543,...,False,False,False,False,False,False,Day,Day,Day,Day
7728390,A-7777758,Source1,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,0.338,...,False,False,False,False,False,False,Day,Day,Day,Day
7728391,A-7777759,Source1,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,-117.85727,0.561,...,False,False,False,False,False,False,Day,Day,Day,Day
7728392,A-7777760,Source1,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,0.772,...,False,False,False,False,False,False,Day,Day,Day,Day
7728393,A-7777761,Source1,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,0.537,...,False,False,False,False,False,False,Day,Day,Day,Day

In [29]:
# sample data and save to a new file
sample_data = data.sample(frac=0.1)
sample_data.to_csv('data/sample_data.csv', index=False)

# check the new file
sample_data = pd.read_csv('data/sample_data.csv')
sample_data.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-5646400,Source1,2,2021-08-21 02:19:46,2021-08-21 03:38:20,46.744857,-114.146444,46.654363,-114.580810,21.512,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-3789214,Source1,2,2022-10-12 06:06:00,2022-10-12 07:31:29,40.785252,-73.444945,40.784902,-73.443205,0.094,...,False,False,False,False,False,False,Night,Night,Day,Day
2,A-5264230,Source1,2,2022-12-23 10:02:00,2022-12-23 11:17:36,28.604691,-81.476267,28.604102,-81.476265,0.041,...,False,False,False,False,True,False,Day,Day,Day,Day
3,A-130814,Source2,2,2016-09-15 04:03:20,2016-09-15 04:48:20,28.568283,-81.286110,NaN,NaN,0.000,...,False,False,False,False,True,False,Night,Night,Night,Night
4,A-5789361,Source1,2,2021-09-14 17:41:00,2021-09-14 19:48:30,39.063982,-123.226057,39.050692,-123.248447,1.512,...,False,False,False,False,False,False,Day,Day,Day,Day

In [44]:
import time
start_time = time.time()
# Data processing code here
print("Processing Time: ", time.time() - start_time)

Processing Time:  3.814697265625e-05

In [45]:
# Function to filter data by state
def filter_data_by_state(state):
    return data[data['State'] == state]

# Function to aggregate data for low zoom level
def aggregate_data():
    return data.groupby('State').size()

# Example usage
start_time = time.time()
state_data = filter_data_by_state('CA')
agg_data = aggregate_data()
processing_time = time.time() - start_time

print("Aggregated Data:", agg_data)
print("Processing Time:", processing_time)

Aggregated Data: State
AL     101044
AR      22780
AZ     170609
CA    1741433
CO      90885
CT      71005
DC      18630
DE      14097
FL     880192
GA     169234
IA      26307
ID      11376
IL     168958
IN      67224
KS      20992
KY      32254
LA     149701
MA      61996
MD     140417
ME       2698
MI     162191
MN     192084
MO      77323
MS      15181
MT      28496
NC     338199
ND       3487
NE      28870
NH      10213
NJ     140719
NM      10325
NV      21665
NY     347960
OH     118115
OK      83647
OR     179660
PA     296620
RI      16971
SC     382557
SD        289
TN     167388
TX     582837
UT      97079
VA     303301
VT        926
WA     108221
WI      34688
WV      13793
WY       3757
dtype: int64
Processing Time: 5.005256175994873